body { 
	font-family: "Consolas", "Ubuntu Mono", "monospace","等线", "等线 Light", "思源黑体 CN ExtraLight", "思源黑体 CN Light", "方正兰亭超细黑简体", "Geometria Light", "汉仪特细等线简", "Microsoft YAHEI";
	width: 60%;
	/* min-width: 400px;  */
	max-width: 1000px; 
	margin: 0 auto;
	padding-top: 20px;
	box-shadow: 0 0 10px rgba(20, 20, 20, 0.2); 
	/* text-align: center; */
}
h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 15px; }
h6 { font-size: 13px; }
h1, h2, h3,h4, h5, h6 {
	padding-left: 40px;
}
p {
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
	/* text-indent: 2em; */
}
code { 
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	/* background-color: #f9f2f4; */
	border-radius: 0;
}
pre {
	width: 100%;
	display: block;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 0 10.5px;
	font-size: 14px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: #f5f5f5;  
	border-right: 5px solid #519aba;
	/* border: 1px solid #cccccc; */
	border-radius: 0;
	}
blockquote blockquote{
	box-shadow: -3px 2px 5px rgba(20, 20, 20, 0.2);
}
blockquote {
	padding: 10px 0 10px 15px;
	/* padding-left: 0; */
	margin: 0;
	font-size: 18.75;
	border-left: 5px solid #519aba;
	background: #f5f5f5; 
}
ul, ol {
	margin-top: 0;
	margin-bottom: 10.5px;
	margin-left: 40px;
	margin-right: 40px;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
a {
	color: #2780e3;
	text-decoration: none;
}
table {
	width: 100%;
}

body img {
	max-width: 100%;
	clear: both; 
	display: block; 
	margin:auto; 
}




@media screen and (min-width: 2600px) {
	h1 {
		font-size: 200px;
	}
	body {
		width: 1300px;
	}
}
@media (max-width: 2600px) and (min-width: 1300px){
	body {
		width: 60%;
	}
}
@media (min-width: 1150px) and (max-width: 1300px) {
	body {
		width: 70%;
	}
}
@media (min-width: 1000px) and (max-width: 1150px) {
	body {
		width: 75%;
	}
}
@media (min-width: 850px) and (max-width: 1000px) {
	body {
		width: 80%;
	}
}
@media (min-width: 700px) and (max-width: 850px) {
	body {
		width: 85%;
	}
}
@media screen and (max-width: 700px) {
	body {
		width: 100%;
		margin: 0 0 0 0;
	}
}